*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
    font-family: "Architects Daughter";
    font-size: 24px;
}
.main-container{
    width: 95%;
    margin: auto;
}
.container1{
    margin-left: 5%;
}
.container2{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}
.container3{
    display: none;
    position:absolute;
    top: 26%;
    left: 40%;

}
#note-text{
    box-shadow: 10px 10px 26px 0px rgb(0,0,0,0.75);
    padding: 10px;
    outline: none;
    border: none;
    width: 250px;
    height: 250px;
}
svg{
    color: gray;
}
#check-icon{
    position: absolute;
    right: 17%;
    top:4%;
}
#x-icon{
    position: absolute;
    right: 7%;
    top: 4%;
}
